@use "colors";
@use "mixins";
@use "fonts";

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* Sets default font size to 10px */
  font-family: fonts.$montserrat;
  font-weight: 300;
  line-height: 1.4;
}

body {
  position: relative;
  font-size: 1.6rem;
  min-height: 100vh;
  padding-bottom: 4.36rem;
  color: colors.$black;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.u-monly {
  display: none;

  @include mixins.max(1200px) {
    display: block;
  }
}

.u-donly {
  display: block;

  @include mixins.max(1200px) {
    display: none !important;
  }
}

.visibly-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

p:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: fonts.$montserrat;
}

p:last-child {
  margin-bottom: 0;
}
