@use "colors";
@use "mixins";
@use "fonts";

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* Sets default font size to 10px */
  font-family: fonts.$montserrat;
  font-weight: 300;
  line-height: 1.4;
}

body {
  font-size: 1.6rem;
  color: colors.$black;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.u-monly {
  display: none;

  @include mixins.max(1200px) {
    display: block;
  }
}

.u-donly {
  display: block;

  @include mixins.max(1200px) {
    display: none !important;
  }
}

p:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: fonts.$montserrat;
}

p:last-child {
  margin-bottom: 0;
}