@use "mixins";

$container-width: 128rem;

/* Basic container styles */
.o-container {
  width: 100%;
  max-width: $container-width;
  margin: auto;
  padding: 0 2.4rem;
}
/* Basic grid layout */
.o-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;

  &--reverse {
    flex-direction: row-reverse;
  }

  &--between {
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex: 1;
    align-items: center;

    @include mixins.max(1200px) {
      flex: 0 0 100%;
    }
  }
}