@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$montserrat: "Montserrat", sans-serif;
$jost: "Jost", sans-serif;