@use "../config/colors";
@use "../config/fonts";

.c-footer {
  width: 100%;
  background-color: colors.$green;
  position: relative;
  padding: 1.2rem;
  text-align: center;
  color: colors.$white;
  font-size: 1.4rem;
  font-family: fonts.$jost;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
}