@use "../config/colors";
@use "../config/fonts";
@use "../config/mixins";

.c-hero {
  position: relative;
  display: flex;
  height: auto;
  min-height: 75.2rem;
  padding: 10rem 0;
  
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: colors.$black;
    opacity: 0.5;
    top: 0;
    left: 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 65%;
    z-index: 1;
  }

  &__wrapper {
    width: 100%;
    max-width: 67.3rem;
    position: relative;
    z-index: 3;
  }

  &__wysiwyg {
    position: relative;
    color: colors.$white;

    h1 {
      color: colors.$white;
      font-weight: 700;
      font-size: 4.4rem;
      line-height: 1.27;
      margin-bottom: 1.2rem;

      @include mixins.max(990px) {
        font-size: 3.2rem;
        line-height: 1.4;
      }
    }

    h2 {
      color: colors.$yellow;
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 1.22;
      margin-bottom: 1.2rem;

      @include mixins.max(990px) {
        font-size: 2.6rem;
        line-height: 1.4;
      }
    }

    p {
      letter-spacing: 0.05rem;
      line-height: 1.7;

      @include mixins.max(990px) {
        font-size: 1.4rem;
        max-width: 50rem;
      }
    }
  }

  &__ctas {
    display: flex;
    margin-top: 3.6rem;
    gap: 2.4rem;
    position: relative;
    z-index: 4;
  }
}
