@use "../config/colors";
@use "../config/flexbox";
@use "../config/fonts";
@use "../config/mixins";

.c-menu {
  &__wrapper {
    display: flex;
    padding: 2.6rem 0;
  }

  &__container {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 3.6rem;

    li > a {
      position: relative;
      text-decoration: none;
      color: colors.$greydark;
      font-family: fonts.$montserrat;
      font-weight: 700;
      font-size: 1.4rem;
      letter-spacing: 0.05rem;

      &:hover {
        color: colors.$green;

        &::after {
          transform: scaleX(1);
          background-color: colors.$green;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.1rem;
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        background-color: colors.$greydark;
        transform: scaleX(0);
        transition: all ease 0.25s;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      display: block;
      width: 27rem;
    }
  }
}
