@use "../config/colors";
@use "../config/flexbox";
@use "../config/fonts";
@use "../config/mixins";

.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: all ease 0.25s;
  background-color: rgba(colors.$black, 0.3);
  z-index: 9999;

  &.is-active {
    display: block;
  }

  &.is-fading {
    opacity: 1;

    .c-modal__content {
      transform: translateY(0);
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding: 10rem 6rem;
    background-color: colors.$white;
    border-radius: 2.4rem;
    transform: translateY(-2rem);
    transition: all ease 0.25s;
  }
}