@use "../config/colors";
@use "../config/flexbox";
@use "../config/fonts";
@use "../config/mixins";

.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: all ease 0.25s;
  background-color: rgba(colors.$black, 0.3);
  z-index: 9999;

  &.is-active {
    display: block;
  }

  &.is-fading {
    opacity: 1;

    .c-modal__content {
      transform: translateY(0);
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding: 10rem 12rem 10rem 6rem;
    background-color: colors.$white;
    border-radius: 2.4rem;
    transform: translateY(-2rem);
    transition: all ease 0.25s;

    @include mixins.max(990px) {
      padding: 6rem;
    }

    @include mixins.max(680px) {
      padding: 4rem;
    }
  }

  &__title {
    font-family: fonts.$montserrat;

    h2 {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.22;
      letter-spacing: 0;
      margin-bottom: 1.2rem;
    }

    p {
      margin: 0;
      font-size: 1.4rem;
      letter-spacing: 0.05rem;
      line-height: 1.71;
    }
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    color: colors.$black;

    &:hover {
      color: colors.$yellow;
    }
  }
}
