@use "../config/colors";
@use "../config/flexbox";
@use "../config/fonts";
@use "../config/mixins";

.c-topbar {
  position: relative;
  padding: 1.2rem;
  background-color: colors.$green;

  &__announcement {
    font-size: 1.2rem;
    font-family: fonts.$jost;
    width: 400px;
    letter-spacing: 0.05rem;
    color: colors.$white;
    display: inline-block;
    align-self: center;

    @include mixins.max(760px) {
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
    }

    b,
    strong {
      display: inline;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      font-family: fonts.$montserrat;

      @include mixins.max(990px) {
        font-size: 1.2rem;
        margin-left: 0.6rem;
      }
    }
  }

  &__ctas {
    display: flex;
    gap: 6rem;

    @include mixins.max(990px) {
      gap: 2.4rem;
    }

    @include mixins.max(760px) {
      width: 100%;
      justify-content: center;
    }
  }
}
